.book_page {
    width: 100vw;
    background-color: rgb(255, 234, 234);
    padding-top: 2vw;
    padding-bottom: 3vw;
}

.form_check_order {
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.form_input_section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_input {
    padding-left: 2%;
    padding-right: 2%;
    width: 49%;
    height: 2.5vw;
    margin-bottom: 1vw;
    border-radius: 29px;
    border: 0;
    outline: none;
}

.form_input:active, .form_input:focus {
    border: 1px solid rgb(245, 121, 142) !important;
}

.form_text_area {
    width: 100%;
    border-radius: 29px;
    outline: none;
}

.order_products_accept_btn {
    margin-top: 1.5%;
    font-size: 24px;
    background-color: transparent;
    color: black;
    border: 1px solid rgb(245, 121, 142);
    border-radius: 29px;
    height: 48px;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.order_products_accept_btn:hover {
    background-color: rgb(245, 121, 142);
    color: white;
    transition: all 300ms ease-in-out;
}