.service_page {
    background-color: rgb(238, 202, 208);
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.service_card {
    border-radius: 15px;
}

.service_card:hover {
    box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.15),
    1px 1px 9px 1px rgba(0,0,0,0.15);
}

.card_image {
    border-radius: 15px 15px 0 0;
}

.card_title:hover {
    color: rgb(245, 121, 142);
    transition: all 300ms;
    cursor: pointer;
}

.card_text {
    color: rgba(0,0,0, .6)
}

.service_title {
    font-size: calc(24px + 10 * (100vw/1903));
    font-weight: 700;
}

.service_text {
    font-size: calc(14px+4 * (100vw/1903));
    font-weight: 400;
    color: rgba(0,0,0, .6)
}

.sep_line {
   color: rgb(245, 28, 64);
}


@media(max-width: 1199px) {
    .card_box {
        width: 100vw !important;
        margin-left: 22vw !important;
    }
}